In [1]:
import pandas as pd
df=pd.read_csv("Heart.csv")
df.head()

,Unnamed: 0,Age,Sex,ChestPain,RestBP,Chol,Fbs,RestECG,MaxHR,ExAng,Oldpeak,Slope,Ca,Thal,AHD
0,1,63,1,typical,145,233,1,2,150,0,2.3,3,0.0,fixed,No
1,2,67,1,asymptomatic,160,286,0,2,108,1,1.5,2,3.0,normal,Yes
2,3,67,1,asymptomatic,120,229,0,2,129,1,2.6,2,2.0,reversable,Yes
3,4,37,1,nonanginal,130,250,0,0,187,0,3.5,3,0.0,normal,No
4,5,41,0,nontypical,130,204,0,2,172,0,1.4,1,0.0,normal,No

In [2]:
df.shape

(303, 15)

In [3]:
df.isnull().sum()

Unnamed: 0    0
Age           0
Sex           0
ChestPain     0
RestBP        0
Chol          0
Fbs           0
RestECG       0
MaxHR         0
ExAng         0
Oldpeak       0
Slope         0
Ca            4
Thal          2
AHD           0
dtype: int64

In [4]:
df.isnull()

,Unnamed: 0,Age,Sex,ChestPain,RestBP,Chol,Fbs,RestECG,MaxHR,ExAng,Oldpeak,Slope,Ca,Thal,AHD
0,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
299,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
300,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
301,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
302,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False

In [5]:
df.dtypes

Unnamed: 0      int64
Age             int64
Sex             int64
ChestPain      object
RestBP          int64
Chol            int64
Fbs             int64
RestECG         int64
MaxHR           int64
ExAng           int64
Oldpeak       float64
Slope           int64
Ca            float64
Thal           object
AHD            object
dtype: object

In [6]:
df==0

,Unnamed: 0,Age,Sex,ChestPain,RestBP,Chol,Fbs,RestECG,MaxHR,ExAng,Oldpeak,Slope,Ca,Thal,AHD
0,False,False,False,False,False,False,False,False,False,True,False,False,True,False,False
1,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,True,True,False,True,False,False,True,False,False
4,False,False,True,False,False,False,True,False,False,True,False,False,True,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,False,False,False,False,False,False,True,True,False,True,False,False,True,False,False
299,False,False,False,False,False,False,False,True,False,True,False,False,False,False,False
300,False,False,False,False,False,False,True,True,False,False,False,False,False,False,False
301,False,False,True,False,False,False,True,False,False,True,True,False,False,False,False
302,False,False,False,False,False,False,True,True,False,True,True,False,False,False,False

In [7]:
df[df==0].count()

Unnamed: 0      0
Age             0
Sex            97
ChestPain       0
RestBP          0
Chol            0
Fbs           258
RestECG       151
MaxHR           0
ExAng         204
Oldpeak        99
Slope           0
Ca            176
Thal            0
AHD             0
dtype: int64

In [8]:
df['Age'].mean()

54.43894389438944

In [9]:
newdf=df[['Age', 'Sex', 'ChestPain', 'RestBP', 'Chol']]

In [10]:
from sklearn.model_selection import train_test_split

In [11]:
train, test=train_test_split(df, random_state=42, test_size=0.25)

In [12]:
train.shape

(227, 15)

In [13]:
test.shape

(76, 15)

In [14]:
train.head()

,Unnamed: 0,Age,Sex,ChestPain,RestBP,Chol,Fbs,RestECG,MaxHR,ExAng,Oldpeak,Slope,Ca,Thal,AHD
287,288,58,1,nontypical,125,220,0,0,144,0,0.4,2,NaN,reversable,No
282,283,55,0,asymptomatic,128,205,0,1,130,1,2.0,2,1.0,reversable,Yes
197,198,45,0,asymptomatic,138,236,0,2,152,1,0.2,2,0.0,normal,No
158,159,60,1,asymptomatic,140,293,0,2,170,0,1.2,2,2.0,reversable,Yes
164,165,48,1,nonanginal,124,255,1,0,175,0,0.0,1,2.0,normal,No

In [15]:
train

,Unnamed: 0,Age,Sex,ChestPain,RestBP,Chol,Fbs,RestECG,MaxHR,ExAng,Oldpeak,Slope,Ca,Thal,AHD
287,288,58,1,nontypical,125,220,0,0,144,0,0.4,2,NaN,reversable,No
282,283,55,0,asymptomatic,128,205,0,1,130,1,2.0,2,1.0,reversable,Yes
197,198,45,0,asymptomatic,138,236,0,2,152,1,0.2,2,0.0,normal,No
158,159,60,1,asymptomatic,140,293,0,2,170,0,1.2,2,2.0,reversable,Yes
164,165,48,1,nonanginal,124,255,1,0,175,0,0.0,1,2.0,normal,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
188,189,54,1,nontypical,192,283,0,2,195,0,0.0,1,1.0,reversable,Yes
71,72,67,1,asymptomatic,125,254,1,0,163,0,0.2,2,2.0,reversable,Yes
106,107,59,1,asymptomatic,140,177,0,0,162,1,0.0,1,1.0,reversable,Yes
270,271,61,1,asymptomatic,140,207,0,2,138,1,1.9,1,1.0,reversable,Yes
102,103,57,0,asymptomatic,128,303,0,2,159,0,0.0,1,1.0,normal,No

In [16]:
test

,Unnamed: 0,Age,Sex,ChestPain,RestBP,Chol,Fbs,RestECG,MaxHR,ExAng,Oldpeak,Slope,Ca,Thal,AHD
179,180,53,1,nonanginal,130,246,1,2,173,0,0.0,1,3.0,normal,No
228,229,54,1,asymptomatic,110,206,0,2,108,1,0.0,2,1.0,normal,Yes
111,112,56,1,asymptomatic,125,249,1,2,144,1,1.2,2,1.0,normal,Yes
246,247,58,1,asymptomatic,100,234,0,0,156,0,0.1,1,1.0,reversable,Yes
60,61,51,0,asymptomatic,130,305,0,0,142,1,1.2,2,0.0,reversable,Yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22,23,58,1,nontypical,120,284,0,2,160,0,1.8,2,0.0,normal,Yes
258,259,70,1,nontypical,156,245,0,2,143,0,0.0,1,0.0,normal,No
56,57,50,1,nonanginal,140,233,0,0,163,0,0.6,2,1.0,reversable,Yes
242,243,49,0,asymptomatic,130,269,0,0,163,0,0.0,1,0.0,normal,No
114,115,62,0,nonanginal,130,263,0,0,97,0,1.2,2,1.0,reversable,Yes